.container {
  margin: 8px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  flex: 1;
  .title {
    padding: 8px;
  }
  .taskList {
    padding: 0 8px;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    min-height: 100px;
  }
}
